[submodule "Instrument-Cluster"]
	path = Instrument-Cluster
	url = https://github.com/PDC-Team1/Instrument-Cluster.git
[submodule "Head-Unit"]
	path = Head-Unit
	url = https://github.com/PDC-Team1/Head-Unit.git
